// Typo
.h1 {
  font-family: $font-family-header;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  @include media-breakpoint-up(sm) {
    font-size: 50px;
  }
}

.h2 {
  font-family: $font-family-header;
  font-size: 18px;
  padding: 0 3rem;
  line-height: 1.4;
  font-weight: 500;
  @include media-breakpoint-up(sm) {
    font-size: 26px;
    padding: 0;
  }
}

.h3 {
  font-family: $font-family-header;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  margin: 2rem 2rem 2rem 1rem;
  display: inline-block;
  vertical-align: middle;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1rem;
    height: 100%;
    width: $border-width;
  }
  &.hyphen-purple {
    &::before {
      background-color: $pop-purple;
    }
  }
  &.hyphen-turquoise {
    &::before {
      background-color: $turquoise;
    }
  }
  &.hyphen-pink {
    &::before {
      background-color: $pink;
    }
  }
  @include media-breakpoint-up(sm) {
    font-size: 20px;
  }
}

p, a {
  font-size: 12px;
  font-family: $font-family-base;
  @include media-breakpoint-up(sm) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}

// Color Typo
.turquoise {
  color: $turquoise;
}
.pop-purple {
  color: $pop-purple;
}
.pink {
  color: $pink;
}
// Component Typo
.role-placement {
  font-family: $font-family-header;
  font-weight: normal;
  display: block;
  font-size: 10px;
}

.data-stat {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
  font-size: 11px;
  font-family: $font-family-header;
  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}
