@import '../../assets/styles/mixins/breakpoints.scss';
@import '../../assets/styles//variables.scss';

$nav-height: 60px;

.nav {
  background-color: $purple;
  height: $nav-height;
  margin-bottom: 2rem;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: $nav-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    li {
      padding: 0 5px;
      position: relative;
    }
    li:not(:first-child)::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: $border-width;
      background-color: $white;
    }
  }
  a {
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    position: relative;
    text-align: center;
    vertical-align: middle;
    span {
      position: relative;
      display: inline-block;
      transition: transform 0.3s;
      width: 95px;
      &:before {
        position: absolute;
        top: 100%;
        left: 0;
        content: attr(data-hover);
        font-weight: 700;
        transform: translate3d(0,0,0);
        width: 95px;
      }
    }
  }
  @include media-breakpoint-up(xs-bis) {
    ul {
      li {
        padding: 0 10px;
      }
    }
  }
  @include media-breakpoint-up(xs-ter) {
    ul {
      li {
        padding: 0 15px;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    ul {
      li {
        padding: 0 3rem;
      }
    }
    a {
      span {
        width: 150px;
        &:before {
          width: 150px;
        }
      }
      &:hover span,
      &:focus span {
    	  transform: translateY(-100%);
        color: $white;
      }
    }
  }
}
