.card-details .card-image {
  position: relative;
  text-align: center;
  margin-bottom: 10px; }
  .card-details .card-image img {
    width: 100%; }
  .card-details .card-image p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.card-details .card-data .win-rate {
  display: inline-block;
  width: 50%; }
  .card-details .card-data .win-rate .data {
    margin-bottom: 3px; }

.card-details .card-data .pick-rate {
  display: inline-block;
  width: 50%; }
  .card-details .card-data .pick-rate .data {
    margin-bottom: 3px; }

.card-details .card-data .average-stats {
  list-style-type: none; }
  .card-details .card-data .average-stats li {
    position: relative; }
    .card-details .card-data .average-stats li p {
      display: inline-block; }
  .card-details .card-data .average-stats li::before {
    content: '';
    background-size: cover;
    position: absolute;
    display: block;
    bottom: 45%;
    left: -12%;
    width: 20px;
    height: 20px; }
  .card-details .card-data .average-stats .average-damage::before {
    background-image: url("../assets/icons/sword.png"); }
  .card-details .card-data .average-stats .average-healing::before {
    background-image: url("../assets/icons/cardiogram.png"); }
  .card-details .card-data .average-stats .average-disable::before {
    background-image: url("../assets/icons/padlock.png"); }
  .card-details .card-data .average-stats .average-score::before {
    background-image: url("../assets/icons/star.png"); }
